/* clase para botones del slider */
.btn-slider{
	background-color: rgba(255, 51, 85,.5);
	padding: 10px;
	border-radius: 50%;

}
.btn-slider:hover{
	background-color: rgba( 51, 70, 255,.8);
	transition: 2s; 
}